body {
    background-color: #5ba4cf;
}

h1 {
    color: white;
}

.mb-3>label {
    font-size: 1.5rem;
    color: white;
}

.borrar {
    background-color: red;
    color: white;
    border-radius: 15px;
    padding: 0 10px;

    &:hover {
        background-color: black;
    }
}

td.mensaje-sin-resultado {
    color: red;
}

td.diaria {
    color: #0c3953;
}

td.semanal {
    color: #3f6f21;
}

td.mensual {
    color: #a0711c;
}