body {
    background-color: #5ba4cf;
}

h1 {
    color: white;
}

span {
    color: #0c3953;
}

.mb-3>label {
    font-size: 1.5rem;
    color: white;
}

td.borrar {
    color: red;

    &:hover {
        color: black;
    }
}